.quotes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  justify-items: center;
  margin-bottom: 2em;
}
.quotes-is-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
