.hotel-cards {
  width: 100%;
  min-height: 100vh;
  background-color: aliceblue;
}

.katalog {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  gap: 5em;
}
