.hotel-cards {
  width: 100%;
  min-height: 30vh;
  background-color: aliceblue;
}

.katalog {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  justify-items: center;
  gap: 5em;
}
